---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import QuickStart from '../components/QuickStart.astro';
import Architecture from '../components/Architecture.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <main>
    <Hero />
    <QuickStart />
    <Architecture />
  </main>
  <Footer />
</Layout>
